openapi: 3.0.1
info:
  title: Codacy API
  description: |
    Codacy API v3 reference.

    [Import the OpenAPI 3.0.1 definition](https://api.codacy.com/api/api-docs/swagger.yaml) into your development tools to help bootstrap your integration with Codacy.
    For more information see [Using the Codacy API](https://docs.codacy.com/codacy-api/using-the-codacy-api/).
  contact:
    name: Codacy Team
    url: https://www.codacy.com
    email: code@codacy.com
  license:
    name: Codacy. All rights reserved
    url: https://www.codacy.com
  version: 3.1.0
servers:
  - url: https://app.codacy.com/api/v3
security:
  - ApiKeyAuth: []
tags:
  - name: version
  - name: analysis
  - name: repository
  - name: account
  - name: organization
  - name: people
  - name: billing
  - name: integrations
  - name: configuration
  - name: health
  - name: admin
  - name: languages
  - name: tools
  - name: metrics
  - name: coding standards
  - name: file
  - name: coverage
  - name: security
  - name: jira
paths:
  /version:
    get:
      tags:
        - version
      summary: Return the version of the Codacy installation
      operationId: getVersion
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []
      x-jvm-package: version
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories:
    get:
      tags:
        - analysis
      summary: List an organization repositories with analysis information for the authenticated user.
      description: List an organization repositories with analysis information for the authenticated user. For Bitbucket you must URL encode the cursor before using it in subsequent API calls, as the pagination comes directly from the Git provider.
      operationId: listOrganizationRepositoriesWithAnalysis
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/repositoriesParam'
        - $ref: '#/components/parameters/segmentsParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryWithAnalysisListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-jvm-package: analysis
  /search/analysis/organizations/{provider}/{remoteOrganizationName}/repositories:
    post:
      tags:
        - analysis
      summary: Search organization repositories with analysis information for the authenticated user.
      description: For Bitbucket you must URL encode the cursor before using it in subsequent API calls, as the pagination comes directly from the Git provider.
      operationId: searchOrganizationRepositoriesWithAnalysis
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      requestBody:
        description: Search query body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchOrganizationRepositoriesWithAnalysis'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryWithAnalysisListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'
      x-jvm-package: analysis
      x-codegen-request-body-name: searchOrganizationRepositoriesWithAnalysisBody
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}:
    get:
      tags:
        - analysis
      summary: Get a repository with analysis information for the authenticated user
      operationId: getRepositoryWithAnalysis
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/branchNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryWithAnalysisResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/tools:
    get:
      tags:
        - analysis
      summary: Get analysis tools settings of a repository
      description: |
        **Note:** When applied to public repositories, this operation does not require authentication.
      operationId: listRepositoryTools
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisToolsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/tools/conflicts:
    get:
      tags:
        - analysis
      summary: Get tools with conflicts in a repository
      description: |
        Get tools with conflicts in a repository
      operationId: listRepositoryToolConflicts
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryConflictsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/tools/{toolUuid}:
    patch:
      tags:
        - analysis
      summary: |
        Configure an analysis tool by enabling and disabling its patterns for a repository.
        This endpoint will apply the changes without verifying if the repository belongs to a coding standard.
      operationId: configureTool
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/toolUuidParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigureToolBody'
        required: true
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
      x-codegen-request-body-name: configureToolBody
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/tools/{toolUuid}/patterns:
    get:
      tags:
        - analysis
      summary: |
        Patterns configuration for (repository, tool). Uses standard if applied, repository settings otherwise.
      operationId: listRepositoryToolPatterns
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/toolUuidParam'
        - $ref: '#/components/parameters/languagesFilterParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/severityLevelsParam'
        - $ref: '#/components/parameters/tagsParam'
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/enabledPatternParam'
        - $ref: '#/components/parameters/recommendedPatternParam'
        - $ref: '#/components/parameters/patternsSortParam'
        - $ref: '#/components/parameters/directionParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfiguredPatternsListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
    patch:
      tags:
        - analysis
      summary: |
        Bulk updates the code patterns of a tool in a repository.
        Use filters to specify the code patterns to update, or omit the filters to update all code patterns.
      operationId: updateRepositoryToolPatterns
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/toolUuidParam'
        - $ref: '#/components/parameters/languagesFilterParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/severityLevelsParam'
        - $ref: '#/components/parameters/tagsParam'
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/recommendedPatternParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePatternsBody'
        required: true
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
      x-codegen-request-body-name: updatePatternsBody
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/tools/{toolUuid}/patterns/{patternId}:
    get:
      tags:
        - analysis
      summary: |
        Patterns configuration for (repository, tool, pattern). Uses standard if applied, repository settings otherwise.
      operationId: getRepositoryToolPattern
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/toolUuidParam'
        - $ref: '#/components/parameters/patternIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfiguredPatternResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/tools/{toolUuid}/patterns/overview:
    get:
      tags:
        - analysis
      summary: |
        Patterns overview for tool. Uses standard if applied, repository settings otherwise.
      operationId: toolPatternsOverview
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/toolUuidParam'
        - $ref: '#/components/parameters/languagesFilterParam'
        - $ref: '#/components/parameters/categoriesParam'
        - $ref: '#/components/parameters/severityLevelsParam'
        - $ref: '#/components/parameters/tagsParam'
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/enabledPatternParam'
        - $ref: '#/components/parameters/recommendedPatternParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolPatternsOverviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/tools/{toolUuid}/conflicts:
    get:
      tags:
        - analysis
      summary: |
        Patterns with Coding Standards conflicts for tool.
      operationId: listRepositoryToolPatternConflicts
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/toolUuidParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryToolConflictsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/analysis-progress:
    get:
      tags:
        - analysis
      summary: Get the analysis progress of a repository
      description: |
        **Note:** When applied to public repositories, this operation does not require authentication.
      operationId: getFirstAnalysisOverview
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/branchNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstAnalysisOverviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests:
    get:
      tags:
        - analysis
      summary: List pull requests from a repository that the user as access to
      description: |
        You can search this endpoint for either `last-updated` (default), `impact` or `merged`

        **Note:** When applied to public repositories, this operation does not require authentication.
      operationId: listRepositoryPullRequests
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/searchParam'
        - name: includeNotAnalyzed
          in: query
          description: If true, also return pull requests that weren't analyzed
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRequestWithAnalysisListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}:
    get:
      tags:
        - analysis
      summary: Get pull request from a repository
      description: |
        **Note:** When applied to public repositories, this operation does not require authentication.
      operationId: getRepositoryPullRequest
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRequestWithAnalysis'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /coverage/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}:
    get:
      tags:
        - coverage
      summary: Get pull request coverage information from a repository
      description: |
        **Note:** When applied to public repositories, this operation does not require authentication.
      operationId: getRepositoryPullRequestCoverage
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRequestWithCoverageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: coverage
  /coverage/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/files:
    get:
      tags:
        - coverage
      summary: Get pull request files coverage information from a repository
      description: |
        **Note:** When applied to public repositories, this operation does not require authentication.
      operationId: getRepositoryPullRequestFilesCoverage
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRequestFilesCoverageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: coverage
  /coverage/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/reanalyze:
    get:
      tags:
        - coverage
      summary: Triggers the reanalysis of the latest coverage report uploaded for the pull request
      operationId: reanalyzeCoverage
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: coverage
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/commits:
    get:
      tags:
        - analysis
      summary: Return analysis results for the commits in a pull request
      operationId: getPullRequestCommits
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitWithAnalysisListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/bypass:
    post:
      tags:
        - analysis
      summary: Bypass analysis status in a pull request
      operationId: bypassPullRequestAnalysis
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/coverage/status:
    get:
      tags:
        - analysis
        - coverage
      summary: List all coverage reports uploaded for the common ancestor commit and head commit of a pull request branch
      operationId: getPullRequestCoverageReports
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoveragePullRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/issues:
    get:
      tags:
        - analysis
      summary: List issues found in a pull request
      description: Returns a list of issues found in a pull request. We can request either new or fixed issues.
      operationId: listPullRequestIssues
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
        - $ref: '#/components/parameters/issueStatusParam'
        - $ref: '#/components/parameters/onlyPotentialParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRequestIssuesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/clones:
    get:
      tags:
        - analysis
      summary: List duplicate code blocks found in a pull request
      description: Returns a list of new or removed duplicate code blocks found in a pull request.
      operationId: listPullRequestClones
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
        - $ref: '#/components/parameters/issueStatusParam'
        - $ref: '#/components/parameters/onlyPotentialParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClonesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/commits/{commitUuid}/clones:
    get:
      tags:
        - analysis
      summary: List duplicate code blocks found in a commit
      description: Returns a list of new or removed duplicate code blocks found in a commit.
      operationId: listCommitClones
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - name: commitUuid
          in: path
          description: UUID or SHA identifier of the source commit
          required: true
          schema:
            type: string
            x-ms-parameter-location: method
          example: 2957025d42e8daadf937d4044516f991d21deea4
          x-ms-parameter-location: method
        - $ref: '#/components/parameters/issueStatusParam'
        - $ref: '#/components/parameters/onlyPotentialParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClonesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/logs:
    get:
      tags:
        - analysis
      summary: Get analysis logs for a pull request
      description: Returns the analysis logs for the specified pull request.
      operationId: listPullRequestLogs
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/commits/{commitUuid}/logs:
    get:
      tags:
        - analysis
      summary: Get analysis logs for a commit
      description: Returns the analysis logs for the specified commit.
      operationId: listCommitLogs
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/commitUuidParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/quality-settings:
    get:
      tags:
        - analysis
      summary: '[Deprecated: use [getQualitySettingsForRepository](#getqualitysettingsforrepository) instead] Get quality settings for the specific repository'
      description: |
        **Note:** When applied to public repositories, this operation does not require authentication.
      operationId: getRepositoryQualitySettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeprecatedRepositoryQualitySettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      deprecated: true
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/commits/{commitUuid}/files:
    get:
      tags:
        - analysis
      summary: List files of a commit with analysis results
      operationId: listCommitFiles
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/commitUuid'
        - $ref: '#/components/parameters/branchNameParam'
        - name: filter
          in: query
          description: Optional field to filter the results. The possible values are empty (default, return files changed in the commit or with coverage changes) or `withCoverageChanges` (return files with coverage changes).
          schema:
            type: string
            enum:
              - withCoverageChanges
            x-ms-parameter-location: method
          x-ms-parameter-location: method
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/filesSearchFilter'
        - name: sortColumn
          in: query
          description: Field used to sort the results. The possible values are `deltaCoverage` (to sort by the coverage variation value of the files) , `totalCoverage` (to sort by the total coverage value of the files) or `filename` (default - to sort by the name of the files).
          schema:
            type: string
            default: filename
            enum:
              - totalCoverage
              - deltaCoverage
              - filename
        - name: columnOrder
          in: query
          description: Sort direction. The possible values are `asc` (ascending - default) or `desc` (descending).
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileAnalysisListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/files:
    get:
      tags:
        - analysis
      summary: List files of a pull request with analysis results
      operationId: listPullRequestFiles
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/pullRequestNumberParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
        - name: sortColumn
          in: query
          description: Field used to sort the results. The possible values are `deltaCoverage` (to sort by the coverage variation value of the files) , `totalCoverage` (to sort by the total coverage value of the files) or `filename` (default - to sort by the name of the files).
          schema:
            type: string
            default: filename
            enum:
              - totalCoverage
              - deltaCoverage
              - filename
        - name: columnOrder
          in: query
          description: Sort direction. The possible values are `asc` (ascending - default) or `desc` (descending).
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileAnalysisListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/follow:
    post:
      tags:
        - repository
        - configuration
      summary: Follow a repository that was already added to Codacy
      operationId: followAddedRepository
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddedStateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
    delete:
      tags:
        - repository
        - configuration
      summary: unfollow a repository
      operationId: unfollowRepository
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/quality/repository:
    get:
      tags:
        - repository
        - configuration
      summary: Get quality settings for the specific repository
      operationId: getQualitySettingsForRepository
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryQualitySettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
    put:
      tags:
        - repository
        - configuration
      summary: Update quality goals settings for the specific repository
      operationId: updateRepositoryQualitySettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      requestBody:
        description: The new value for the quality goals of the repository
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryQualitySettings'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryQualitySettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
      x-codegen-request-body-name: updatedQualitySettings
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/ssh-user-key:
    post:
      tags:
        - repository
        - configuration
      summary: Regenerate the user SSH key that Codacy uses to clone the repository
      description: Codacy automatically adds the new public user SSH key to the user account on the Git provider. Using a user SSH key is recommended if your repository includes submodules.
      operationId: regenerateUserSshKey
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKeySettingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/ssh-repository-key:
    post:
      tags:
        - repository
        - configuration
      summary: Regenerate the SSH key that Codacy uses to clone the repository
      description: Codacy automatically adds the new public SSH key to the repository on the Git provider.
      operationId: regenerateRepositorySshKey
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKeySettingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/stored-ssh-key:
    get:
      tags:
        - repository
        - configuration
      summary: Get the public SSH key for the repository
      description: Returns the most recently generated public SSH key, which can be either a user or repository SSH key.
      operationId: getRepositoryPublicSshKey
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKeySettingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/sync:
    post:
      tags:
        - repository
        - configuration
      summary: Synchronize repository name and visibility with Git provider
      operationId: syncRepositoryWithProvider
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncProviderSettingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/analysis:
    get:
      tags:
        - repository
        - configuration
      summary: Get the status of the repository setting **Run analysis on your build server**
      operationId: getBuildServerAnalysisSetting
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildServerAnalysisSettingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
    patch:
      tags:
        - repository
        - configuration
      summary: Updates the status of the repository setting **Run analysis on your build server**
      operationId: updateBuildServerAnalysisSetting
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      requestBody:
        description: New value for the repository setting **Run analysis on your build server**
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildServerAnalysisSettingRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildServerAnalysisSettingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
      x-codegen-request-body-name: targetBuildServerAnalysisSetting
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/languages:
    get:
      tags:
        - language-settings
      summary: Get the list of all languages with their extensions and enabled status
      operationId: getRepositoryLanguages
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          headers:
            X-Maturity:
              description: Experimental API. Subject to change in the near future.
              schema:
                type: string
                enum:
                  - experimental
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryLanguageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: fileExtension
    patch:
      tags:
        - language-settings
      summary: Configure language settings for this repo
      operationId: patchRepositoryLanguageResponseSettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepositoryLanguagesBody'
        required: true
      responses:
        '204':
          description: Successful operation
          headers:
            X-Maturity:
              description: Experimental API. Subject to change in the near future.
              schema:
                type: string
                enum:
                  - experimental
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: fileExtension
      x-codegen-request-body-name: RepositoryLanguagesBody
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/file-extensions:
    get:
      tags:
        - file
      summary: Get the list of supported file extensions associated with each language in a repository
      operationId: getFileExtensionsSettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileExtensionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      deprecated: true
      x-jvm-package: fileExtension
    patch:
      tags:
        - file
      summary: Update the custom file extensions for a repository
      operationId: patchFileExtensionsSettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileExtensionsBody'
        required: true
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      deprecated: true
      x-jvm-package: fileExtension
      x-codegen-request-body-name: FileExtensionsBody
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/quality/commits:
    get:
      tags:
        - repository
        - configuration
      summary: Get quality settings for the commits of a repository.
      description: |
        `diffCoverageThreshold` is never returned because this threshold isn't currently supported for commits.
      operationId: getCommitQualitySettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualitySettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
    put:
      tags:
        - repository
        - configuration
      summary: Update quality settings for the commits of a repository
      operationId: updateCommitQualitySettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      requestBody:
        description: The new value for the quality settings of commits in a repository
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QualityGate'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualitySettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
      x-codegen-request-body-name: updatedQualitySettings
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/quality/commits/reset:
    post:
      tags:
        - repository
        - configuration
      summary: Reset quality settings for the commits of a repository to Codacy’s default values
      operationId: resetCommitsQualitySettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualitySettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/quality/pull-requests/reset:
    post:
      tags:
        - repository
        - configuration
      summary: Reset quality settings for the pull requests of a repository to Codacy’s default values
      operationId: resetPullRequestsQualitySettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualitySettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/quality/repository/reset:
    post:
      tags:
        - repository
        - configuration
      summary: Reset quality settings for the repository to Codacy’s default values
      operationId: resetRepositoryQualitySettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryQualitySettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
  /organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/settings/quality/pull-requests:
    get:
      tags:
        - repository
        - configuration
      summary: Get quality settings for the pull requests of a repository
      operationId: getPullRequestQualitySettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualitySettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
    put:
      tags:
        - repository
        - configuration
      summary: Update quality settings for the pull requests of a repository
      operationId: updatePullRequestQualitySettings
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      requestBody:
        description: The new value for the quality settings of pull requests in the repository
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QualityGate'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualitySettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: repository
      x-codegen-request-body-name: updatedQualitySettings
  /analysis/organizations/{provider}/{remoteOrganizationName}/pull-requests:
    get:
      tags:
        - analysis
      summary: List an organization pull requests from repositories that the user as access to
      description: You can search this endpoint for either `last-updated` (default), `impact` or `merged`
      operationId: listOrganizationPullRequests
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/searchParam'
        - $ref: '#/components/parameters/repositoriesParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRequestWithAnalysisListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/commit-statistics:
    get:
      tags:
        - analysis
      summary: Lists commit analysis statistics in the last `n` days that have analysis data
      description: |
        Returns the last `n` days with available data. This means that the returned days may not match the last `n` calendar days.

        **Note:** When applied to public repositories, this operation does not require authentication.
      operationId: listCommitAnalysisStats
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/branchNameParam'
        - $ref: '#/components/parameters/daysParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitAnalysisStatsListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/category-overviews:
    get:
      tags:
        - analysis
      summary: Lists analysis category overviews for a repository that the user as access to
      description: |
        **Note:** When applied to public repositories, this operation does not require authentication.
      operationId: listCategoryOverviews
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/branchNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryOverviewListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/issues/search:
    post:
      tags:
        - analysis
      summary: List issues in a repository
      description: |
        Returns information about the issues that Codacy found in a repository as available on the [Issues page](https://docs.codacy.com/repositories/issues-view/).
        Use [SearchRepositoryIssuesBody](#tocssearchrepositoryissuesbody) to filter the returned issues.
      operationId: searchRepositoryIssues
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      requestBody:
        $ref: '#/components/requestBodies/searchIssuesFilter'
      responses:
        '200':
          description: List of issues in the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchRepositoryIssuesListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/issues/bulk-ignore:
    post:
      tags:
        - analysis
      summary: Bulk ignore issues in a repository
      description: Receives a list of issue ids and ignores them in the specified repository. Limited to 50 issues at once
      operationId: bulkIgnoreIssues
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      requestBody:
        description: List of issue ids to ignore
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkIgnoreIssuesBody'
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/issues/overview:
    post:
      tags:
        - analysis
      summary: Get an overview of the issues in a repository
      description: |
        Returns information about the number of issues that Codacy found in a repository as available on the [Issues page](https://docs.codacy.com/repositories/issues-view/).
        Use [SearchRepositoryIssuesBody](#tocssearchrepositoryissuesbody) to filter the returned issues.
      operationId: issuesOverview
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
      requestBody:
        $ref: '#/components/requestBodies/searchIssuesFilter'
      responses:
        '200':
          description: Overview of the issues in the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuesOverviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/issues/{issueId}:
    get:
      tags:
        - analysis
      summary: Returns information about an issue that Codacy found in a repository and that is still open.
      operationId: getIssue
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/resultDataIdParam'
      responses:
        '200':
          description: An issue found in a repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIssueResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
    patch:
      tags:
        - analysis
      summary: Ignore or unignore an issue
      operationId: updateIssueState
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/issueParam'
      requestBody:
        description: New ignored status of the issue
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueStateBody'
        required: true
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
      x-codegen-request-body-name: issueState
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/issues/{issueId}/false-positive/ignore:
    patch:
      tags:
        - analysis
      summary: Ignore the false positive result in an issue
      operationId: ignoreFalsePositive
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/issueParam'
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/ignoredIssues/search:
    post:
      tags:
        - analysis
      summary: List ignored issues in a repository
      description: Returns information about the issues that Codacy found in a repository and were ignored on the Codacy UI. Use [SearchRepositoryIssuesBody](#tocssearchrepositoryissuesbody) to filter the returned ignored issues.
      operationId: searchRepositoryIgnoredIssues
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      requestBody:
        $ref: '#/components/requestBodies/searchIssuesFilter'
      responses:
        '200':
          description: List of ignored issues in the repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IgnoredIssuesListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/commits:
    get:
      tags:
        - analysis
      summary: Return analysis results for the commits in a branch
      operationId: listRepositoryCommits
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/branchNameParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: List of commits with analysis results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitWithAnalysisListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/commits/{commitUuid}:
    get:
      tags:
        - analysis
      summary: Get analysis results for a commit
      operationId: getCommit
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/commitUuid'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitWithAnalysis'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/commits/{commitUuid}/deltaStatistics:
    get:
      tags:
        - analysis
      summary: Get analysis statistics of a commit
      description: |-
        Returns the quality metric deltas introduced by a commit. The values of the metrics are 0 or null if Codacy didn't analyze the commit yet.
        To obtain the full analysis statistics for the repository use the endpoint [getRepositoryWithAnalysis](#getrepositorywithanalysis).
      operationId: getCommitDeltaStatistics
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - $ref: '#/components/parameters/commitUuid'
      responses:
        '200':
          description: Succesful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitDeltaStatistics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/commits/{srcCommitUuid}/deltaIssues:
    get:
      tags:
        - analysis
      summary: List the issues introduced or fixed by a commit
      description: |-
        Returns a list of issues introduced or fixed given a source commit SHA. By default, Codacy will calculate the issues by creating a delta between the source commit and its parent commit. As an alternative, you can also provide a destination commit to calculate the deltas.
        To list all issues in the repository, use [searchRepositoryIssues](#searchrepositoryissues).
      operationId: listCommitDeltaIssues
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
        - $ref: '#/components/parameters/repositoryNameParam'
        - name: srcCommitUuid
          in: path
          description: UUID or SHA string that identifies the source commit
          required: true
          schema:
            type: string
            x-ms-parameter-location: method
          example: 2957025d42e8daadf937d4044516f991d21deea4
          x-ms-parameter-location: method
        - name: targetCommitUuid
          in: query
          description: UUID or SHA string that identifies the target commit
          schema:
            type: string
            x-ms-parameter-location: method
          example: 2957025d42e8daadf937d4044516f991d21deea4
          x-ms-parameter-location: method
        - $ref: '#/components/parameters/issueStatusParam'
        - $ref: '#/components/parameters/onlyPotentialParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitDeltaIssuesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: analysis
  /user:
    get:
      tags:
        - account
      summary: Get the authenticated user
      description: Get the authenticated user
      operationId: getUser
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
    delete:
      summary: Delete the authenticated user
      tags:
        - account
      operationId: deleteUser
      responses:
        '204':
          description: Successful operation
          content: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
    patch:
      summary: Update the authenticated user
      tags:
        - account
      operationId: patchUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserBody'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
      x-codegen-request-body-name: UserBody
  /user/organizations:
    get:
      tags:
        - account
      summary: List organizations for the authenticated user
      description: List organizations for the authenticated user
      operationId: listUserOrganizations
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
  /user/organizations/{provider}:
    get:
      tags:
        - account
      summary: List organizations for the authenticated user
      description: List organizations for the authenticated user
      operationId: listOrganizations
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/providerParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
  /user/organizations/{provider}/{remoteOrganizationName}:
    get:
      tags:
        - account
      summary: Get organization for the authenticated user
      description: Get organization for the authenticated user
      operationId: getUserOrganization
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
  /user/emails:
    get:
      tags:
        - account
      summary: List emails for the authenticated user
      description: List emails for the authenticated user
      operationId: listUserEmails
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEmailsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
  /user/emails/remove:
    post:
      tags:
        - account
      summary: Remove an email from user account
      description: |
        Removes the specified email address from the authenticated user's account. The primary/default email
        cannot be removed. A user must always have at least one email address associated with their account.
      operationId: removeUserEmail
      requestBody:
        $ref: '#/components/requestBodies/emailParam'
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
  /user/emails/settings:
    get:
      tags:
        - account
      summary: Retrieve email notification settings
      description: |
        Returns the current email notification preferences, including per-commit notifications,
        pull request notifications, and activity.
      operationId: getEmailSettings
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailNotificationSettingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
    patch:
      tags:
        - account
      summary: Update email notification preferences
      description: |
        Modifies the user's email notification settings. Settings can be updated individually without affecting
        other settings. This endpoint allows users to control which events trigger email notifications.
      operationId: updateEmailSettings
      requestBody:
        $ref: '#/components/requestBodies/updateEmailSettingsRequest'
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
  /user/emails/set-default:
    post:
      tags:
        - account
      summary: Set an email as default
      description: |
        Designates the specified email as the default email for the authenticated user. This operation will
        automatically remove the default status from any previously default email.
        Only one email can be default at any time.
      operationId: setDefaultEmail
      requestBody:
        $ref: '#/components/requestBodies/emailParam'
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
  /user/integrations:
    get:
      tags:
        - account
      summary: List integrations for the authenticated user
      description: List integrations for the authenticated user
      operationId: listUserIntegrations
      parameters:
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
  /user/integrations/{provider}:
    delete:
      summary: Delete an integration for the authenticated user
      tags:
        - account
      operationId: deleteIntegration
      parameters:
        - $ref: '#/components/parameters/providerParam'
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: account
  /organizations/{provider}/{remoteOrganizationName}:
    get:
      tags:
        - organization
      summary: Get organization
      operationId: getOrganization
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationWithMetaResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: organization
    delete:
      tags:
        - organization
      summary: Delete organization
      description: Delete organization
      operationId: deleteOrganization
      parameters:
        - $ref: '#/components/parameters/providerParam'
        - $ref: '#/components/parameters/remoteOrganizationNameParam'
      requestBody:
        $ref: '#/components/requestBodies/churnFeedbackParam'
      responses:
        '204':
          description: Successful operation
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-jvm-package: organization
  /organizations/{provider}/installation/{installationId}:
    get:
      tags:
        - account
      summary: Get organization by provider installation id
[...]
